/** 公用方法 */
*{font-size: 12px}
.fcr{color:rgb( 212, 43, 30 );}  /** 页面中的红色颜色字体 */
.fb{font-weight: bold} /**  字体加粗样式 */
.fl{float: left}
.clear{clear:both}
.border_top{border-top: 1px solid #e2e2e2; position: relative;} 
.ft{font-size:18px;} /** 头部字体*/
.fbt{font-size: 24px;}
.ffm{font-family: "Arial";}
.main{width: 960px;margin: 0 auto;margin-top: 18px; min-height: 450px;}
.fg{color: rgb( 102, 102, 102 ); }
.news_detail{font-size: 14px; margin-top: 15px; padding-top: 15px;line-height: 1.286;}
.date_title{font-size: 14px; margin-left: 10px;}
.b_share{position: absolute; right: 0px;top: 0px;}
/** header部分 */
body{font-family: "Microsoft YaHei" sans-serif;}
.warp{min-width: 960px;}
.header{width:100%;height: 225px;background: #f4f4f4;}
.h_center{width: 960px;height: 200px;margin: 0 auto;}
.logo{background: url(../images/logo.jpg) no-repeat; width: 532px;height: 137px;}
.header .nav{font-size: 14px;font-family: "SimSun";position: relative; top: 1px;padding:0 0 0 2px;}
.header .nav a{text-decoration:none;color: rgb( 244, 244, 244 );}
.header .nav li{margin:37px 2px 0 0 ;float: left; background: #e48f89;line-height: 24px;padding:0 8px; border-top-left-radius: 5px;border-top-right-radius: 5px;}
.header .nav .checked{background: #d42b1e; line-height: 25px;}
.red_bottom{height: 25px;background: #d42b1e;}

/** footer部分 */
.footer{width: 960px;height: 231px;border-top: 1px solid #e2e2e2;background: #f0f0f0; padding-top: 15px;margin: 0 auto;}
.f_nav{width: 215px; height: 216px;}
.f_news{width:214px; }
.f_follow{width: 214px;}
.f_contact{width: 314px;}
.f_hb{height: 216px;border-left:1px solid #cccccc;}
.navtitle{margin: 8px 0 0 15px; font-size: 21px; }
.mune ul{margin: 15px 0 0 0}
.mune li{margin: 1px 0 0 14px;  background: url(../images/red.png) no-repeat; background-position: 0 3px}
.mune a{font-weight: bold;font-size: 12px; line-height:20px; text-decoration:none;color:rgb( 212, 43, 30 );display: block; margin-left: 15px; width: 132px;}
.mune a:hover{ color:#202020; }
.f_contact_des{  font-size: 12px;color: rgb( 68, 68, 68 );  line-height: 1.5;margin: 15px 0 0 15px}
.mzbq{font-size: 14px; width: 960px; margin:29px auto;text-decoration:none;display: block;}
.f_contact_des a{font-weight: bold;color:rgb( 212, 43, 30 );text-decoration:none}
.f_contact_des a:hover{ color:#202020; }
#wechat{font-size: 12px;line-height:20px;margin-left: 15px;}


/*中间左边栏*/
.left_nav{  width: 190px;float: left;text-align: left; border-bottom: 1px solid #e2e2e2;}
.left_nav p{  line-height: 35px ;  border-top: 1px solid #e2e2e2 ; padding-left:10px;font-weight: bold;font-size: 14px;}
.left_nav a{text-decoration: none}
.right{float: right;
	width: 757px;
	border-radius: 5px;
}

.testa{
	transition: -webkit-transform 1s;
	transition: transform 1s;
}



